{% extends "index.html" %}
{% block body %}
{% block header %}
<div class="collapse navbar-collapse" id="navigation">
  <ul class="navbar-nav ml-auto text-center">
    <li class="nav-item ">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" href="/about">About</a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" href="/courses">Courses</a>
    </li>
    <!-- <li class="nav-item ">
      <a class="nav-link" href="/notice">Notice</a>
    </li> -->
    <li class="nav-item ">
      <a class="nav-link" href="/refer">Refer and Earn</a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" href="/contact">CONTACT</a>
    </li>
    <li class="nav-item dropdown view {{active}}">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        JNV
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/jnvenglish">JNV english</a>
        <a class="dropdown-item" href="/jnvhindi">JNV hindi</a>
      </div>
    </li>
    <li class="nav-item dropdown view">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Programming
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/webdev">Full stack web development</a>
        <a class="dropdown-item" href="/cpythoncpp">C, C++, Python</a>
        <a class="dropdown-item" href="/programmingjobready">Programming Job ready</a>
        <a class="dropdown-item" href="/dsa">C, C++, DSA</a>
      </div>
    </li>
  </ul>
</div>
{% endblock %}
<!-- page title -->
<section class="page-title-section overlay" data-background="{{ url_for('static',filename='images/backgrounds/page-title.jpg') }}">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline custom-breadcrumb">
          <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="/jnvhindi">जवाहर नवोदय विद्यालय की तैयारी - हिंदी माध्यम</a></li>
          <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
        </ul>
        <p class="text-lighten">
            यह जवाहर नवोदय विद्यालय कक्षा 6 प्रवेश के लिए प्रवेश परीक्षा को क्रैक करने का एक पूरा कोर्स है| नीचे दिए गए पीडीएफ को देखें और पाठ्यक्रम के बारे में अधिक जानें।</p>
      </div>
    </div>
  </div>
</section>
<!-- /page title -->

<!-- contact -->
<section class="section bg-green">
    
  <div class="container">
    <h2 style="color:red;">In this course you will
      get </h2>

<ul style="list-style-type:square">
  <h3>
  <li>Daily 1 hour Live Class</li>
  <li>Daily 1 hour Doubt Class</li>
  <li>Recorded Lectures</li>
  <li>24 hours students whatsapp doubt solving support</li>
  <li>A personal Coach</li>
  <li>Weekly Tests</li>
  <li>Every month student teacher and parents meeting</li>
</h3>
</ul><br><br>
<h2 style="color:red;">विषय सूची :</h2><br>
<ul style="list-style-type:square">
  <h3>
  <li style="color:blue;">मानसिक योग्यता परीक्षण : </li></h3>
  <ul style="list-style-type:square">
    <h4>
    <li>असंगत को अलग करना </li>
    <li>आकृति  मिलान</li>
    <li>पैटर्न को पूरा करना</li>
    <li>आकृति श्रृंखला पूर्ति</li>
    <li>सादृश्यता</li>
    <li>ज्यामितीय आकृति पूर्ति</li>
    <li>दर्पण प्रतिबिम्ब</li>
    <li>पंच होल पैटर्न</li>
    <li>स्थान दृश्यावलोकन</li>
    <li>छिपी हुई आकृति</li>
  </h4>
  </ul>
  <br><br>
  <h3><li style="color:blue;">अंकगणितीय परीक्षण :</li></h3>
  <ul style="list-style-type:square">
    <h4>
      <li>संख्या एवं संख्या पद्धति</li>
      <li>पूर्ण संख्याओं पर चार आधारभूत
        संक्रियाएँ</li>
      <li>भिन्न और भिन्नों पर आधारित
        मूलभूत संक्रियाएँ</li>
      <li>गुणनखण्ड, गुणज एवं उनके गुण</li>
      <li>लघुत्तम समापवर्त्य और महत्तम
        समापवर्तक</li>
      <li>वर्ग-वर्गमूल तथा घन-घनमूल</li>
      <li>दशमलव संख्याएँ और दशमलव
        संख्याओं पर आधारभूत संक्रियाएँ</li>
      <li>मापन के अनुप्रयोग</li>
      <li>व्यंजको का सन्निकटन एवं
        सरलीकरण</li>
      <li>औसत</li>
      <li>प्रतिशतता और उसके अनुप्रयोग</li>
      <li>लाभ और हानि</li>
      <li>साधारण ब्याज</li>
      <li>अनुपात और समानुपात</li>
      <li>कार्य और समय</li>
      <li>चाल, समय तथा दूरी</li>
        <li>क्षेत्रफल, परिमाप तथा आयतन</li>
      <li>पैटन</li>
      <li>आँकड़ों का चित्रमय प्रदर्शन</li>
  </h4>
  </ul>
  <br><br>
  <h3><li style="color:blue;">भाषा परीक्षण (हिन्दी) :</li></h3>
  <ul style="list-style-type:square">
    <h4>
      <li>विलोम, पर्यायवाची एवं शब्दार्थ</li>
      <li>अपठित अनुच्छेद</li>
  </h4>
  </ul>
</ul><br>

  </div>
</section>
<section class="page-title-section overlay" data-background="{{ url_for('static',filename='images/backgrounds/page-title.jpg') }}">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <ul class="list-inline custom-breadcrumb">
            <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="@@page-link">JNV class 6 Registration form </a></li>
            <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
          </ul>
          <p class="text-lighten">
              Fill the form below to join this course.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section bg-gray">
      <center>
    <div class="container">
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScDA6R2wKd9EHBP-1gB_avHwiZLR_TvwceeF9ZfNjQbZD6M7Q/viewform?embedded=true" width="95%" height="1990" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

    </div>
</center>
  </section>
<!-- /contact -->

<!-- gmap -->
<!-- <section class="section pt-0">
  <!-- Google Map -->
  <!-- <div id="map_canvas" data-latitude="51.507351" data-longitude="-0.127758"></div>
</section> --> -->
<!-- /gmap -->

<!-- footer -->
{% endblock %}